/*colour palette */
:root {
  --black: #000000;
  --dark-grey: #4d4d4d;
  --white: #ffffff;
}

body {
  padding-top: 5rem;
}

#navbar {
  background: var(--dark-grey);
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
}
