{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Advisor Settings{% endblock title %}</h2>
  <script src="static/javascript/advisor-settings-page.js" defer></script>
{% endblock header %}

{% block content %}
  <label for="select-advisor">Select an Advisor: </label>
  <select name="select-advisor" id="select-advisor">
    <option value="temp-placeholder">..loading..</option>
  </select>
  <form id="delete-advisor" style="display:inline" onsubmit="return confirmDeleteAdvisor();">
    <input type="submit" value="&#128465;">
  </form>
  <br><br>
  <input type="text" id="advisor-name" name="advisor-name" value="">
  <!--<br><br>-->
  <p style="display:inline">&emsp; is &emsp;</p>
  <input type="text" id="advisor-personality" name="advisor-personality" value="" size="80" maxlength="500">
  <br><br>
  <p style="display:inline">Path to model file (GGUF): &emsp;</p>
  <input style="display:inline" type="text" id="model-path" name="model-path" value="" size="60" maxlength="300">
  <input type="submit" value="Check Path" onclick="checkFilePath()">
  <br><br>
  <label for="select-llm">Select a Language Model: </label>
  <select name="select-llm" id="select-llm">
    <option value="temp-placeholder">..loading..</option>
  </select>
  <br><br>
  <input type="submit" id="apply-changes" value="Apply Changes" onclick="createOrUpdateAdvisor()">
  <input type="submit" id="discard-changes" value="Discard Changes">
{% endblock content %}
