{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Ask a Question{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <label for="select-advisor">Select an Advisor: </label>
  <select name="select-advisor" id="select-advisor">
    <option value="advisor-1">Advisor 1</option>
    <option value="advisor-2">Advisor 2</option>
  </select>
  <br><br>
  <details>
  <summary>RAG Settings</summary>
  <h4 style="display:inline">Chunk Strategy Mix:&emsp;</h4>
  <label>
    &emsp; BM25
  <input type="number" id="bm25-percent" name="bm25-percent" min="0" max="1" step="0.01" value="0.0">
  </label>
  <label>
    &emsp; Fixed-size Chunks
  <input type="number" id="fixed-size-chunks-percent" name="fixed-size-chunks-percent" min="0" max="1" step="0.01" value="0.0">
  </label>
  <label>
    &emsp; Semantic Chunking 
  <input type="number" id="semantic-chunking-percent" name="semantic-chunking-percent" min="0" max="1" step="0.01" value="0.0">
  </label>
  </details>
  <br><br>
  <input type="text" id="user-query" name="user-query" value="Enter your query here">
  <input type="submit" value="Submit">
{% endblock content %}
